.fill-in-the-blank-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "Poppins", sans-serif;
  }
.question {
    
  background-color: #eeedf1;
  font-size: 2em;
  font-weight: 600;
  color: #23234c;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.4em 0 1em 0;
  padding: 1em 0;
}

.submit-btn {
    font-size: 1.2em;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  background-color: #f4c531;
  border-radius: 0.3em;
  border: none;
  outline: none;
  cursor: pointer;
  color: #23234c;
  padding: 0.6em 2em;
}
  @media only screen and (max-width: 600px) {
    /* Center the form */
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60vh;
    }
  
    /* Increase font size */
    p {
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
  
    /* Make label and input elements full width */
    label,
    input[type="text"] {
      width: 70%;
    }
  
    /* Add margin between form elements */
    label + label,
    input + input,
    button + p {
      margin-top: 1rem;
    }
  
    /* Reduce margin between submit button and other elements */
    button[type="submit"] {
      margin-top: 0.5rem;
    }
  
    /* Hide "Next" button by default */
    button[type="button"] {
      display: none;
    }
  }